<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzy.mapper.UserMapper">
	<select id="selectByAccount" parameterType="com.zzy.pojo.User"
		resultType="User">
		select user_id , password from user
		<where>
			user_id = #{user_id}
		</where>
	</select>

	<select id="selectPasswordByAccount" parameterType="User"
		resultType="Integer">
		select password from user
		<where>
			user_id = #{user_id}
		</where>
	</select>


</mapper>